/* https://images.unsplash.com/photo-1559658550-077da704211b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 */
html{
    height: 100%;
}
.navbar-light .navbar-brand{
    color: black; 
}


.navbar-expand-lg{
    padding-left: 15%;
    padding-right: 15%;
}

body{
    background: url(https://images.unsplash.com/photo-1559658550-077da704211b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    font-family: Catamaran;
}

.center{
    text-align: center;
    padding-top: 15%
}

h1,  p{
    color: white;
}

.fa-circle-notch{
    /* color: blue; */
    font-size: 2em;
}


h2 > span{
    color: white;
}

@media(max-width: 768px){
    h1, h2{
        background-color: #449d44;
    }
}

@media(min-width:768px){
    h1,h2{
        background-color: skyblue;
    }
}