.big{
    height: 400px;
    /* background: linear-gradient(to right,red,white);  */
    background: linear-gradient(red,white,red, white,red);  

}

.circle{
    height: 400px;
    background: radial-gradient(white,grey,black);
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}